<% include('../layouts/header.ejs') %>

<h1>Dashboard</h1>

<a href="/admin/new-user">Add New User</a><br /><br />
<style>
  table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  img {
    max-width: 50px;
    max-height: 50px;
  }
</style>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Image</th>
    <th>Verified</th>
    <th>Action</th>
  </tr>
  <% if(users.length > 0) { for(let i = 0; i < users.length; i++) { %>
  <tr>
    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].mobile %></td>
    <td>
      <% if(users[i].image) { %>
      <img src="/userImages/<%= users[i].image %>" alt="User Image" />
      <% } else { %> No Image <% } %>
    </td>
    <td><%= users[i].is_verified === 1 ? "✅" : "❌" %></td>
    <td><a href="/admin/edit-user?id=<%= users[i]._id %>">Edit</a></td>
  </tr>
  <% } } else { %>
  <tr>
    <td colspan="5">No users found!</td>
  </tr>
  <% } %>
</table>

<br />
<a href="/admin/home">Go to Home</a>

<% include('../layouts/footer.ejs') %>
