<%- include('../layouts/header.ejs') %>

<div class="dashboard-page">
  <h1>Dashboard</h1>

  <a href="/admin/new-user" class="btn">Add New User</a><br /><br />

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Image</th>
        <th>Verified</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% if(users.length > 0) { for(let i = 0; i < users.length; i++) { %>
      <tr>
        <td><%= users[i].name %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].mobile %></td>
        <td>
          <% if(users[i].image) { %>
          <img src="/userImages/<%= users[i].image %>" alt="User Image" />
          <% } else { %> No Image <% } %>
        </td>
        <td><%= users[i].is_verified === 1 ? "✅" : "❌" %></td>
        <td class="action-links">
          <a href="/admin/edit-user?id=<%= users[i]._id %>">Edit</a>
          <a href="/admin/delete-user?id=<%= users[i]._id %>">Delete</a>
        </td>
      </tr>
      <% } } else { %>
      <tr>
        <td colspan="6" style="text-align: center">No users found!</td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <br />
  <a href="/admin/home" class="btn">Go to Home</a>
</div>

<%- include('../layouts/footer.ejs') %>
